{% extends "base/layout.html" %}
{% load staticfiles %}
{% block title %}
Salereporter | Register
{% endblock %}
{% block nav %}
	{% include "business/nav_register.html" %}
{% endblock %}
{% block extrameta %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'business/css/formValidation.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'maps/css/jquery-gmaps-latlon-picker.css' %}"/>
{% endblock %}
{% block content %}
	 <div class="container">
        	<div class="row">
        		<div class="col-sm-12">
                	<h3 class="text-center">Business Contact</h3>
                </div>
        	</div>
        
	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-2">
	    			{% if error %}
	    			<div class="alert alert-danger fade in">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Error!</strong> {{ error }}
					</div>
					{% endif %}
                	<form id="defaultForm" action="" method="post">
                		{% csrf_token %}
				        <input type="hidden" name="form_id" value="2"> 
	                	<div class="panel panel-default">	
                        	<div class="panel-body">                        	
                            	<div class="row">
                            		<div class="col-sm-6">
                                    	<div class="form-group">
                                        	<input type="text" class="form-control" name="firstName" placeholder="First Name" value="{{ first_name }}">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                    	<div class="form-group">
                                        	<input type="text" class="form-control" name="lastName" placeholder="Last name" value="{{ last_name }}" />
                                        </div>
                                    </div>
                            	</div>
                                
                                <div class="row">
		                    		<div class="col-sm-6">
		                            	<div class="form-group">
                                            <input type="text" name="title" class="form-control" placeholder="Title" value="{{ title }}">
                                        </div>
		                            </div>
		                    		<div class="col-sm-6">
                                    	<div class="form-group">
                                            <input type="text" name="phone" class="form-control" placeholder="Phone" value="{{ phone_no }}">
                                        </div>
		                            </div>
		                    	</div>
                                
                                <div class="row">
                                	<div class="col-sm-12">
                                    	<div class="form-group">
                                            <input type="email" name="businessEmail" class="form-control" placeholder="Business Email" value="{{ business_email }}">
                                        </div>
                                    </div>                                	
                                </div>
                                
		                    	<div class="row">
		                    		<div class="col-sm-12">
                                    	<div class="form-group">
                                            <input type="password" name="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div> 
		                    	</div>                          	
                         </div> 
            			</div>                         	
                        <button type="submit" name="submitButton" class="btn btn-info center-block mt25">Next</button>
                    </form>     
                	
                </div>
	    	</div>
	    </div>
        
{% endblock %}
{% block extrajs %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static 'maps/js/jquery-gmaps-latlon-picker.js' %}"></script>
<script type="text/javascript" src="{% static 'business/js/formValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'business/js/framework/bootstrap.js' %}"></script>
<script type="text/javascript">
			$(document).ready(function() {
			    // Generate a simple captcha
			    function randomNumber(min, max) {
			        return Math.floor(Math.random() * (max - min + 1) + min);
			    };
			    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));
			
			    $('#defaultForm').formValidation({
			        message: 'This value is not valid',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			            firstName: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The first name is required'
			                    }
			                }
			            },
			            lastName: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The last name is required'
			                    }
			                }
			            },
						title: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The title is required'
			                    }
			                }
			            },
			            phone: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The phone is required'
			                    },
			                    phone: {
                            		country: 'US',
                            		message: 'The value is not valid %s phone number'
                        		}
			                }
			            },	
						businessEmail: {
			                validators: {
			                    notEmpty: {
			                        message: 'The business email address is required'
			                    },
			                    regexp: {
			                    	regexp: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,3}))$/,
			                        message: 'The input is not a valid email address'
			                    }
			                }
			            },
			            password: {
			                validators: {
			                    notEmpty: {
			                        message: 'The password is required'
			                    },
			                    different: {
			                        field: 'username',
			                        message: 'The password cannot be the same as username'
			                    }
			                }
			            },	            
			        }
			    });
			});
		</script>
{% endblock %}   

