{% extends "base/layout.html" %}
{% load staticfiles %}
{% block title %}
Business Dashboard | Salereporter
{% endblock %}
{% block nav %}
    {% include "base/nave_top.html" %}
{% endblock %}
{% block extrameta %}
<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		
		<!-- Bootstrap -->
		<link href="{% static 'business/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'business/css/custom.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'business/css/formValidation.css' %}"/>
        <link href="{% static 'business/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
		
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		      
	
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="{% static 'base/js/vendor/bootstrap.min.js' %}"></script>
	    <script type="text/javascript" src="{% static 'business/js/formValidation.js' %}"></script>
		<script type="text/javascript" src="{% static 'business/js/framework/bootstrap.js' %}"></script>
		
{% endblock %}
{% block content %}
	    <div class="container">
        	<div class="row">
        		<div class="col-sm-12">
                	<h3 class="text-center">Offer History</h3>
                </div>
        	</div>
        
	    	<div class="row">
	    		<div class="col-sm-4">
                	<a href="/business/make_offer" class="btn btn-lg btn-default btn-block">Offer Sale</a>
                </div>
                <div class="col-sm-8">
                	<div class="panel panel-default">
                		<div class="panel-body">
                        	<div class="comments-list">
                        		{% for offer in offers %}
			                   	<div class="media">
			                    	<p class="pull-right"><small>{{ offer.starts }} </small></p>
			                        <div class="media-body">			                                
										<h4 class="media-heading user_name">{{ offer.offer }}</h4>
									</div>
			                  	</div>
			                  	{% endfor %}
			        
			               	</div>
                        </div>
                	</div>
                </div>
	    	</div>
	    </div>
{% endblock %}