{% extends "base/layout.html" %}
{% block title %}
Launch Sale | Salereporter
{% endblock %}
{% load staticfiles %}
{% block nav %}
	{% include "base/nave_top.html" %}
{% endblock %}
{% block extrameta %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'business/css/formValidation.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'business/css/jquery.datetimepicker.css' %}"/>
<script src="{% static 'business/js/sweetalert.js' %}"></script>
<link rel="stylesheet" href="{% static 'business/css/sweetalert.css' %}">
{% endblock %}
{% block content %}


<div class="container">
        	<div class="row">
        		<div class="col-sm-12">
                	<h3 class="text-center">What are you offering?</h3>
                </div>
        	</div>       
	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-3">
                	<div class="panel panel-default">
                		<div class="panel-body">
                			<span class="error_message errors"></span>
                        	<form name="myOffer"  method="post" action="">
                        		{% csrf_token %}
	                          <div class="form-group">
	                              {{ form.starts.errors }}
	  					          {{ form.offer }}
	                          </div>
	                          <div class="row">
	                              <div class="col-sm-6">
	                                  <div class="form-group">
	                                  	{{ form.starts.errors }}
	  					                {{ form.starts }}
	  									<br/>
	  					            </div>
	                              </div>
	                              <div class="col-sm-6">
	                              	<div class="form-group">
	                              		{{ form.ends.errors }}
	  					                {{ form.ends }}
	  					               <br/>
	  					            </div>
	                              </div>
	                          </div>
	                          <span type="submit" id="submit" class="btn btn-block btn-success sweet-12"  >Launch Sale</span>
	                          
	                      </form>	
                        </div>
                	</div>
                </div>
	    	</div>
	    </div>
	           
{% endblock %}
{% block extrajs %}
		<script src="{% static 'business/js/jquery.datetimepicker.js' %}"></script>
	  
		<script type="text/javascript">

		$("#submit").bind('click',function(){
			  			var offer = $('#id_offer').val();
  						var starts = $('#id_starts').val();
  						var ends = $('#id_ends').val();
  						if(offer == '' || starts == '' || ends==''){
  							alert("All Fields required")
  							return;
  						}
   			$.post( "/business/make_offer/", {offer: offer, starts: starts, ends: ends}, function(data) {
				if(data['status'] == 'success'){
				    console.log(data);
					$('#id_offer').val('');
                 } else {
					alert("Sorry, something wrong")
				}
			});
		});
			$('#id_starts').datetimepicker({
					    format:'Y/m/d h:i A',
					    timepicker: true, // use timepicker
					    formatTime: 'g:i A',
					    minDate: 0,
					    minTime: 0,
					    onChangeDateTime:function(dp,$input){
                		var date = Date.parse($('#id_starts').val());
		                var hours = 3*3600*1000;
		                var end_date = date + hours;
		   				var end_date = new Date(end_date);
		   				$('#id_ends').val('');
		   							$('#id_ends').datetimepicker({
									    format:'Y/m/d h:i A',
									    timepicker: true, // use timepicker
									    formatTime: 'g:i A',
									    value: end_date,
									    maxDate: end_date,
			    					    minDate: 0,
					   					minTime: 0,
					    				});
                            }
					    });
			$('#id_ends').datetimepicker({
					    format:'Y/m/d h:i A',
					    timepicker: true, // use timepicker
					    formatTime: 'g:i A',
					    });
		function s_laert(){
			swal({
			      title: "Your offer has started",
			      text: "People in the area have been notified",
			      type: "success",
			      showCancelButton: false,
			      confirmButtonClass: 'btn-success',
			      confirmButtonText: 'Close'},
			      function(isConfirm) {
				  if (isConfirm) {
				    window.location.href = "http://salereporter.com/business/home/";
				  }
			      });
			}							
			    	
		</script>
{% endblock %}
