{% extends "base/layout.html" %}
{% load staticfiles %}
{% block title %}
Salereporter | Register
{% endblock %}
{% block extrameta %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'business/css/formValidation.css' %}"/>
{% endblock %}
{% block content %}
			<div class="container">
        	<div class="row">
        		<div class="col-sm-12">
        			<h3 class="text-center">Business Information</h3>
        		</div>
        	</div>
        
	    	<div class="row">
	    		<div class="col-sm-8 col-sm-offset-2">
                	<form id="defaultForm" class="text-center" action="" method="post">
                				            {% csrf_token %}
				                        	<input type="hidden" name="form_id" value="3"> 
                    	<div class="panel panel-default">
	                		<div class="panel-body">                        	
                            	<div class="row">
                            		<div class="col-sm-12">
                                    	<div class="form-group">
                                        	<input type="text" name="nameBusiness" class="form-control" placeholder="Name of business">
                                        </div>
                                    </div>
                            	</div>
                                
                                <div class="row">
		                    		<div class="col-sm-6">
                                    	<div class="form-group">
                                            <input type="text" name="street" class="form-control" placeholder="Street">
                                        </div>
		                            </div>
		                            <div class="col-sm-6">
		                            	<div class="form-group">
                                            <input type="text" name="suite" class="form-control" placeholder="Suite">
                                        </div>
		                            </div>
			                    	</div>
	                                
	                                <div class="row">
	                                	<div class="col-sm-4">
	                                    	<div class="form-group">
	                                            <input type="text" name="city" class="form-control" placeholder="City">
	                                        </div>
	                                    </div>
	                                	<div class="col-sm-4">
	                                    	<div class="form-group">
	                                            <input type="text" name="state" class="form-control" placeholder="State">
	                                        </div>
	                                    </div>
	                                	<div class="col-sm-4">
	                                    	<div class="form-group">
	                                            <input type="text" name="zip" class="form-control" placeholder="Zip">
	                                        </div>
	                                    </div>
	                                </div>
	                                
			                    	<div class="row">
			                    		<div class="col-sm-6">
			                            	<div class="form-group">
	                                        	<input type="text" name="phoneNo" class="form-control" placeholder="Phone No">
	                                        </div>
			                            </div>
			                    		<div class="col-sm-6">
	                                    	<div class="form-group">
	                                        	<input type="text" name="website" class="form-control" placeholder="Website">
	                                        </div>
			                            </div>
			                    	</div>

			                   
                                <div class="row">
			                    		<div class="col-sm-12">
	                                    	<div class="form-group">
	                                            <input placeholder="Point your location on map or type your address here" class="form-control" type="text" id="address">
	                                        </div>
	                                    </div> 
		                    		</div>
                                <div class="row">
                                	<div class="col-sm-12">
                                		
                                    	<div id="us3" style="width: 100%; height: 400px;" class="mb20"></div>
                                    </div>
                                </div>
                                <div class="row">
	                                <div class="col-sm-12 row form-group ">
	                                	<div class="col-sm-2">
	                                    	<label for="" class="mt10">Lat.:</label>
	                                    </div>
	                                    <div class="col-sm-4 form-group">
	                                    	<input name="lat" type="text" class="form-control" id="us3-lat"/>
	                                    </div>
	                                    <div class="col-sm-2">
	                                    	<label  for="" class="mt10">Long.:</label>
	                                    </div>
	                                    <div class="col-sm-4 form-group">
	                                    	<input name="longi" type="text" class="form-control" id="us3-lon"/>
	                                    </div>
	                                </div>
			                    </div>	  
                                </div>
                        	</div>                       	
                            
                            <button type="submit" class="btn btn-info center-block mt25">Register</button>
                            
	                    </form>     
                	</div>
                </div>
	    	</div>
	    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'business/js/formValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'business/js/framework/bootstrap.js' %}"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&language=en&libraries=places'></script>
<script src="{% static 'business/js/map/locationpicker.jquery.min.js' %}"></script>
<script type="text/javascript">

			$(document).ready(function() {

				  $(window).keydown(function(event){
				    if(event.keyCode == 13) {
				      event.preventDefault();
				      return false;
				    }
				  });
			    // Generate a simple captcha
			    function randomNumber(min, max) {
			        return Math.floor(Math.random() * (max - min + 1) + min);
			    };
			    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));
			
			    $('#defaultForm').formValidation({
			        message: 'This value is not valid',
			        icon: {
			            valid: 'glyphicon glyphicon-ok',
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {						
			            nameBusiness: {
			                row: '.col-sm-12',
			                validators: {
			                    notEmpty: {
			                        message: 'The name business is required'
			                    }
			                }
			            },
						suite: {
			                row: '.col-sm-6',
			                validators: {
			                }
			            },
						street: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The street is required'
			                    }
			                }
			            },
			            city: {
			                row: '.col-sm-4',
			                validators: {
			                    notEmpty: {
			                        message: 'The city is required'
			                    }
			                }
			            },
			            state: {
			                row: '.col-sm-4',
			                validators: {
			                    notEmpty: {
			                        message: 'The state is required'
			                    }
			                }
			            },
			            zip: {
			                row: '.col-sm-4',
			                validators: {
			                    notEmpty: {
			                        message: 'The zip is required'
			                    }
			                }
			            },
						phoneNo: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The phone no is required'
			                    },
			                  	phone: {
                            		country: 'US',
                            		message: 'The value is not valid %s phone number'
                        		}
			                }
			            },
			            website: {
			                row: '.col-sm-6',
			                validators: {
			                    notEmpty: {
			                        message: 'The website is required'
			                    }
			                }
			            },
			          	lat: {
			                row: '.col-sm-4',
			                validators: {
			                    notEmpty: {
			                        message: 'Point your location on map'
			                    }
			                }
			            },
			            longi: {
			                row: '.col-sm-4',
			                validators: {
			                    notEmpty: {
			                        message: 'Point your location on map'
			                    }
			                }
			            },			            
			        }
			    });

				$('#us3').locationpicker({

		       // location: {latitude: lati, longitude: longi},
		        radius: 100,
		        inputBinding: {
		            latitudeInput: $('#us3-lat'),
		            longitudeInput: $('#us3-lon'),
		            //radiusInput: $('#us3-radius'),
		            locationNameInput: $('#address')
		        },
		        enableAutocomplete: true,
		        onchanged: function (currentLocation, radius, isMarkerDropped) {
		        	$('#defaultForm').formValidation('revalidateField', 'lat');
		        	$('#defaultForm').formValidation('revalidateField', 'longi');
		            // Uncomment line below to show alert on each Location Changed event
		            //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
		        },
		             oninitialized: function (component) {
		        	$("#us3-lat").val("");
		        	$("#us3-lon").val("");
		        	$("#address").val("");
		        }
		    });

			});
		
		</script>
{% endblock %}
