{% extends "base/layout.html" %}
{% load staticfiles %}
{% block title %}
Salereporter | Register
{% endblock %}
{% block nav %}
	{% include "business/nav_register.html" %}
{% endblock %}
{% block extrameta %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'business/css/formValidation.css' %}"/>
{% endblock %}
{% block content %}
	    <div class="container">
        	<div class="row">
        		<div class="col-sm-12">
        			<h3 class="text-center">What business are you in?</h3>
        		</div>
        	</div>
        
	    	<div class="row">
	    		<div class="col-sm-6 col-sm-offset-3">
                		<form id="defaultForm" action="" method="post">
	                        <div class="panel panel-default">
		                		<div class="panel-body">                        	
	                            	<div class="form-group">
				                        <div class="col-sm-12">
				                        	{% csrf_token %}
				                        	<input type="hidden" name="form_id" value="1"> 
				                            <div class="radio">
				                                <label>
				                                    <input type="radio" name="option" value="1" /> Restaurant
				                                </label>
				                            </div>
				                            <div class="radio">
				                                <label>
				                                    <input type="radio" name="option" value="2" /> Bars
				                                </label>
				                            </div>
				                            <div class="radio">
				                                <label>
				                                    <input type="radio" name="option" value="3" /> Grocery Stores
				                                </label>
				                            </div>
	                                        <div class="radio">
				                                <label>
				                                    <input type="radio" name="option" value="4" /> Department Stores
				                                </label>
				                            </div>
				                        </div>
				                    </div>                            	
	                        	</div>  
	                            
		                	</div>  
                            <div class="clerfix"></div>                 	
                            <button type="submit" name="submitButton" class="btn btn-info center-block mt25">Next</button>
	                    </form>     
                </div>
	    	</div>
	    </div>
{% endblock %}
{% block extrajs %}
	    <script type="text/javascript" src="{% static 'business/js/formValidation.js' %}"></script>
	    <script type="text/javascript" src="{% static 'business/js/framework/bootstrap.js' %}"></script>
	     <script type="text/javascript">
			$(document).ready(function() {
			    // Generate a simple captcha
			    function randomNumber(min, max) {
			        return Math.floor(Math.random() * (max - min + 1) + min);
			    };
			    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));
			
			    $('#defaultForm').formValidation({
			        message: 'This value is not valid',
			        icon: {
			            invalid: 'glyphicon glyphicon-remove',
			            validating: 'glyphicon glyphicon-refresh'
			        },
			        fields: {
			            option: {
			                validators: {
			                    notEmpty: {
			                        message: 'The option is required'
			                    }
			                }
			            },			            
			        }
			    });
			});
		</script>
{% endblock %}
