{% extends "base/layout.html" %}
{% block title %}
Salereporter | Login
{% endblock %}
{% block extracss %}
<style type="text/css">
body {
    background: #ccc;
}

  .form-signin {
    max-width: 280px;
    margin: 60px auto 10px;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }

  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    box-shadow: none;
    border-radius: 3px 3px 0px 0px;
  }

  .form-signin input[type="text"]:focus {
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
  }

  .form-signin input[type="password"] {
    z-index: 2;
    margin-bottom: 20px;
    border-top: none;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 0px 0px 3px 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .form-signin input[type="password"]:focus {
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);*/
  }

</style>
{% endblock %}
{% block nav %}
  {% include "business/nav_register.html" %}
{% endblock %}
{% block content %}
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <center><h3 style="color: #26A65B; font-size: 18px;" class="{{ message.tags }}">{{ message }}</h3></center>
    {% endfor %}
{% endif %}
    <form action="" method="post" class="form-signin">
      <h3>Business Log In</h3>
    <div class="form-error">
        <span style="color: red;">{{ error }}</span>
    </div>
      {% csrf_token %}
          <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
          <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        
          <button class="btn btn-lg btn-defualt btn-block" type="submit">Log in</button>   
      </h4>Not a Registered? Plese <a href="/business/register/" >Sign Up</a> | <a href="/business/reset-password/">Forgot your password?</a> </h4>
      </form>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
