<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        {% block extrameta %}{% endblock %}

        <title>{% block title %}Salereporter{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
        {% block extracss %}{% endblock %}

        <script src="{% static 'base/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% block nav %}
        {% if user.is_authenticated %}
            {% include "base/nave_top.html" %}
        {% endif %}
    {% endblock %}

      <!-- Example row of columns -->
      {% block content %}{% endblock %}
          {% block footer %}
          <hr>
          {% include "base/footer.html" %}
      {% endblock %}
          
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'base/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

        <script src="{% static 'base/js/vendor/bootstrap.min.js' %}"></script>
        {% block extrajs %}{% endblock %}

        <script src="{% static 'base/js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    </body>
</html>